services:
  # 1. API GATEWAY (Puerto de entrada 8080)
  api-gateway:
    image: ferreteria/gateway:1.0
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - servicio-usuarios
      - servicio-inventario
      - servicio-ventas
    networks:
      - ferreteria-network
    restart: on-failure

  # 2. SERVICIO DE USUARIOS (Puerto 8081)
  servicio-usuarios:
    image: ferreteria/usuarios:1.0
    build:
      context: ./servicio-usuarios
      dockerfile: Dockerfile
    expose:
      - "8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/db_usuarios
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
    networks:
      - ferreteria-network
    restart: on-failure

  # 3. SERVICIO DE INVENTARIO (Puerto 8083)
  servicio-inventario:
    image: ferreteria/inventario:1.0
    build:
      context: ./servicio-inventario
      dockerfile: Dockerfile
    expose:
      - "8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/db_inventario
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      MICROSERVICE_INVENTARIO_URL: http://servicio-inventario:8083/productos
    networks:
      - ferreteria-network
    restart: on-failure

  # 4. SERVICIO DE VENTAS (Puerto 8082)
  servicio-ventas:
    image: ferreteria/ventas:1.0
    build:
      context: ./servicio-ventas
      dockerfile: Dockerfile
    expose:
      - "8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/db_ventas
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      MICROSERVICE_INVENTARIO_URL: http://servicio-inventario:8083/productos
      MICROSERVICE_USUARIOS_URL: http://servicio-usuarios:8081/usuarios
    networks:
      - ferreteria-network
    restart: on-failure

  # 5. SERVICIO DE FRONTEND (Spring Boot)
  servicio-frontend:
    image: ferreteria/frontend:1.0
    build:
      context: ./servicio-frontend
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    depends_on:
      - api-gateway
    environment:
      API_GATEWAY_URL: http://api-gateway:8080
    networks:
      - ferreteria-network
    restart: on-failure

networks:
  ferreteria-network:
    driver: bridge
