services:
  # 1. API GATEWAY
  api-gateway:
    image: ferreteria/gateway:1.0
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - servicio-usuarios
      - servicio-inventario
      - servicio-ventas
    networks:
      - ferreteria-network
    restart: unless-stopped

  # 2. SERVICIO DE USUARIOS
  servicio-usuarios:
    image: ferreteria/usuarios:1.0
    build:
      context: ./servicio-usuarios
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/db_usuarios?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: JDOspina071325
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - ferreteria-network
    restart: unless-stopped

  # 3. SERVICIO DE INVENTARIO
  servicio-inventario:
    image: ferreteria/inventario:1.0
    build:
      context: ./servicio-inventario
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/db_inventario?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: JDOspina071325
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - ferreteria-network
    restart: unless-stopped

  # 4. SERVICIO DE VENTAS
  servicio-ventas:
    image: ferreteria/ventas:1.0
    build:
      context: ./servicio-ventas
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/db_ventas?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: JDOspina071325
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      MICROSERVICE_INVENTARIO_URL: http://servicio-inventario:8083
      MICROSERVICE_USUARIOS_URL: http://servicio-usuarios:8081
    networks:
      - ferreteria-network
    restart: unless-stopped

  # 5. SERVICIO FRONTEND
  servicio-frontend:
    image: ferreteria/frontend:1.0
    build:
      context: ./servicio-frontend
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    depends_on:
      - api-gateway
    environment:
      API_GATEWAY_URL: http://api-gateway:8080
    networks:
      - ferreteria-network
    restart: unless-stopped

networks:
  ferreteria-network:
    driver: bridge